h1, h2, h3 {    
    text-transform: uppercase;
    margin: auto;
    text-align: center;
    line-height: 2;
    font-family: fantasy;

    

}
.first{ 
        word-spacing: 2px;
        font-size: 100%;
        max-width: 50em;
        margin: auto;
        width: 100%;
        height: 100%;
        border-style: solid;
        border-color: rgba(18, 252, 174, 0.966);
        background-color: rgb(255, 255, 250);    
}
h3:hover, h2:hover, h1:hover{
    color: rgb(0, 255, 34);
}
a :hover,{
    color: yellow;
}
li:hover{
    color: rgb(55, 0, 255);
}

